*.bin
*.sa
*.png
*.npy
*.pyc
toi-1136
.gitignore
3br_2nd_order_mmr
.gitignore
high-order-mmr-debug.ipynb
*-checkpoint.ipynb
toi-1136_cc
3br_2nd_order_mmr_cc
3br_with_2nd_order_mmr.ipynb
.gitignore
RC.ipynb
01_notebooks/3_to_2_and_7_to_5_test.ipynb
*.ipynb
*.txt
*.log
*.csv
*.json
*.npz
.DS_Store
__pycache__/
*.pkl
v1298_tau
v1298_tau_cc
v1298_tau
03_data/_OLD/kepler-223_cc
03_data/_OLD/kepler-223_migration_Dplus.extras
03_data/_OLD/kepler-223_migration.extras
03_data/_OLD/kepler-223-setup-ics.py
04_figures/period_period.pdf
03_data/TOI-178/toi178eqs.tar.gz
03_data/Kepler-80-full/kep80eqs.tar.gz
00_code/toi-1136-longitude-issue.py
